@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ticketeer</h1>
    <p class="lead">Ticketeer is your application to handle issues amongst your team. To start, please log-in to your account.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
    </div>
    <div class="col-md-4">
        <h2>Demo purposes</h2>
        <p>
            For demo purposes, the following account are created:

        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
</div>